[user]
	email = yahir.eduardo.bravo@gmail.com
	name = Eduardo Bravo
[init]
	defaultBranch = main
[alias]
	unstage = reset HEAD --
	st = status --short --branch
	br = branch
	ci = commit
	l = log --pretty=format:\"%C(yellow)%h\\\\ %ad%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=short
	la = !git config -l | grep alias | cut -c 7-
	ll = log --oneline
	last = log -1 HEAD --stat
